/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */
:root {
  --orange: #E27D60;
  --blue: #85cdcb;
  --coral: #E8A87C;
  --purple: #C38D9E;
  --cyan: #41B3A3;
}

html {
  font-size: 4.5vw;
}

body {
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

header, .header-top {
  height: 3rem;
}

.header-top {
  display: flex;
  justify-content: space-between;
  background-color: var(--cyan);
  color: white;
}

.logo, #menuToggler {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 0.2rem;
}

.logo {
  padding-left: 0.65rem;
}

nav {
  position: relative;
  transition: max-height 0.3s ease-in;
  overflow: hidden;
  max-height: 0;
  z-index: 999;
  background-color: rgba(133, 205, 203, 0.85);
  -webkit-backdrop-filter: blur(0.25rem);
  backdrop-filter: blur(0.25rem);
  font-size: 1.5rem;
}

nav.menu--open {
  transition-timing-function: ease-out;
  max-height: 12rem;
}

nav a {
  display: block;
  text-decoration: none;
  color: #674a53;
  padding: 0.2rem 0.65rem;
}

#menuToggler {
  flex-basis: 3rem;
  line-height: 0;
  font-size: 2.5rem;
}

main {
  margin: 0 1rem;
}

h1, h2, h3, header {
  font-family: 'Kiwi Maru', serif;
}

h1, h2{
  text-align: center;
  background-color: coral;
}



/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */

}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */

html {
  font-size: 1.5vw;
}

h1, h2 {
  padding-top: 1rem;
}

#menuToggler {
  display: none;
}

header {

}

nav {
  display: flex;
  flex-direction: row;
  overflow: auto;
  max-height: 3rem;
}

nav a {
  font-size: 1rem;
}

nav a:hover {
  background-color: #72c5c4;
}

}
