/* MOBILE AND GLOBAL STYLES */

/* applies to screens smaller than 500px (first breakpoint) */
/* and above unless overwritten below */

body {
  font-family: 'Kiwi Maru', serif;
  text-decoration: none;
}

nav {
  transform: translateX(100vw);
  transition: 0.3s;
  display: flex;
  opacity: 0;
  flex-direction: column;
}

nav.menu--open {
  transform: translateX(0);
  opacity: 1;
}

nav a {
}

#menuToggler {
  position: absolute;
  right:3vw;
  padding-left: 3vw;
  padding-right: 3vw;
  font-size: 10vw;
  color: #674a53;
  background-color: #41B3A3
}


/* TABLET STYLES */

@media screen and (min-width: 500px) {

  /* applies to screens wider than 499px */
  #menuToggler {
    display: none;
  }

  nav {
    display: flex;
    flex-direction: row;
  }
}



/* DESKTOP STYLES */

@media screen and (min-width: 1000px) {

  /* applies to screens wider than 999px */


}
